.about{
    position: relative;
    min-height: 100vh;
}
.aboutHr{
    position: absolute;
    width: 0%;
    transition:  all .5s ease-in-out;
    height: 2px;
    background-color: rgb(204, 207, 202);
}
.aboutTop{
    width: 100%;
    padding: 40px;
    display: block;
}
.aboutTop h1{
    height: 100%;
    position: relative;
    width: 100%;
    hyphens: auto;
    word-break: break-word;
    color: rgb(204, 207, 202);
    text-shadow: rgba(204, 207, 202, 0.75) 0px 0px 8px;
    font-family: york;
    letter-spacing: -2.4px;
    font-feature-settings: "case";
    font-size: 96px;
    font-weight: 600;
    line-height: 1;
    padding-top: 40px;
    overflow-y: hidden;
}
.aboutTop h1 .textrow{
   transform: translateY(200%);
    transition: all 1s ease-in-out;
}



.text-image{
    max-width: 72px;
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 0px;
    display: inline-block;
    position: relative;
}
.text-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0px 51px, 0px 21px, 21px 0px, 51px 0px, 72px 21px, 72px 51px, 51px 72px, 21px 72px, 0px 51px);
}

.centerAbout{
    position: relative;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    z-index: 8;
}
.firstAbout{
    display: flex;
    width: 100%;
}
.aboutText{
    width: 70%;
    padding: 30px;
    position: relative;
}
.aboutLargeText{
    padding: 30px 10px;
}
.aboutLargeText h1{
    font-size: 36px;
    height: 40px;
    color: rgb(204, 207, 202);
    text-shadow: rgba(204, 207, 202, 0.75) 0px 0px 8px;
    position: relative;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-family: Neue;
    overflow-y: hidden;
    transition: all .5s ease-in-out;
}

.aboutLargeText h1 span {
    position: absolute;
    top: 100%;
    transition: all 0.5s ease-in-out;
}


.aboutText .hrline{
    background-color: #212121;
    width: 90%;
    height: 1px;
    position: absolute;
}
.aboutBottomText{
padding: 25px 10px;
}
.aboutBottomText h1{
    font-size: 18px;
    height: 26px;
    color: rgb(170, 170, 170);
    position: relative;
    margin-bottom: 10px;
    font-family: Neue;
    overflow-y: hidden;
    transition: all .5s linear;
}
.aboutBottomText h1 span {
    position: absolute;
    top: 100%;
    transition: all 0.5s ease-in-out;
}
.skill{
    width: 30%;
    padding: 90px 20px;
    position: relative;
}
.skillh1{
    font-size: 36px;
    height: 40px;
    color: #212121;
    position: relative;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-family: Neue;
    overflow-y: hidden;
    transition: all .5s ease-in-out;
}
.skillh1 span{
    position: absolute;
    top: 100%;
    transition: all 0.5s ease-in-out;
}
.skills h1{
    font-size: 18px;
    height: 26px;
    color: #212121;
    position: relative;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-family: Neue;
    overflow-y: hidden;
    transition: all .5s ease-in-out;
}
.mobilehr{
    display: none;
}
.skills h1 span{
    position: absolute;
    top: 100%;
    transition: all 0.5s ease-in-out;
} 
.up h1 span, .up span{
    position: absolute;
    top: 0;
    transition: all 1s ease-in-out;
}

.aboutTop .textUp .textrow{
    transform: translateY(0%);
     transition: all 1s ease-in-out;
 }
 
@media all and (max-width: 760px){
   .aboutTop{
    padding: 40px 20px;
   }
   .aboutTop h1{
    letter-spacing: -1.6px;
    font-size: 64px;
    padding-top: 10px;
   }
   .text-image{
    max-width: 48px;
   }
   .text-image img{
    clip-path: polygon(34px 48px, 48px 34px, 48px 14px, 34px 1px, 14px 1px, 1px 14px, 1px 34px, 14px 48px, 34px 48px);
   }
    .centerAbout{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .iam div{
        font-size: 60px; 
    }
    .firstAbout{
        flex-direction: column;
    }
    .aboutText{
        width: 100%;
    }
    .aboutBottomText h1{
        font-size: 24px;
        height: 32px;
    }
    .aboutBottomText h1 span {
        position: absolute;
    }
    .mobilehr{
        display: block;
        background-color: #212121;
        height: 1px;
        width: 100%;
    }
    .skill{
        width: 100%;
        padding: 20px;
        display: flex;
        position: relative;
    }
    .skillh1{
        font-size: 36px;
        height: 40px;
        color: #212121;
        position: relative;
        text-transform: capitalize;
        margin-bottom: 10px;
        font-family: Neue;
        overflow-y: hidden;
        width: 30%;
    }
    .skillh1 span{
        position: absolute;
    }
    .skills{
        width: 70%;
       text-align: center;
    }
    .skills h1 span{
        position: absolute;
    } 
}
@media all and (max-width: 650px){
    .iam div{
        font-size: 40px; 
    }
    .aboutLargeText h1{
        font-size: 24px;
        height: 30px;
    }
    .aboutBottomText h1{
        font-size: 18px;
        height: 24px;
    }
}
 
@media all and (max-width: 600px){
    .skills{
       text-align: left;
       padding-left: 100px;
    }
}
@media all and (max-width: 550px){
    .skills{
       text-align: left;
       padding-left: 100px;
    }
    .aboutText{
        padding: 30px 15px;
    }
    .aboutLargeText{
        padding: 15px 0;
    }
    .aboutLargeText h1{
        font-size: 20px;
        height: 26px;
        font-weight: bold;
    }
}
@media all and (max-width: 440px){
    .aboutLargeText h1{
        font-size: 17px;
        height: 25px;
        font-weight: bold;
    }
    .aboutBottomText{
        padding: 25px 0;
    }
    .aboutBottomText h1{
        font-size: 14px;
        height: 22px;
    }
    .skill{
        width: 100%;
        padding: 20px;
        display: flex;
        position: relative;
        flex-direction: column;
    }
    .skills{
        text-align: left;
        padding-left: 0px;
        padding-top: 20px;
     }
    .skills h1{
        font-size: 18px;
        height: 26px;
    }
}