.aboutabout{
    position: relative;
    min-height: 100vh;
}
.about{
    position: relative;
    padding-bottom: 30px;
    background-color: #d9d5cd;
    color: #141414;
    padding-top: 4rem;
}

.aboutHr{
    position: absolute;
    width: 0%;
    transition:  all .5s ease-in-out;
    height: 2px;
    background-color: rgb(170, 170, 170);
}

.about .showHr{
    width: 100%;
    transition:  all .5s ease-in-out;
}
.aboutTop{
    width: 100%;
    padding: 40px;
    display: block;
}
.aboutTop h1{
    height: 100%;
    position: relative;
    width: 100%;
    hyphens: auto;
    word-break: break-word;
    font-family: condense;
    letter-spacing: -0.05em;
    font-feature-settings: "case";
    font-size: 96px;
    font-weight: 600;
    line-height: 1;
    padding-top: 40px;
    overflow-y: hidden;
}




.text-image{
    max-width: 72px;
    width: 100%;
    height: 100%;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 0px;
    display: inline-block;
}
.text-image img, .text-image video {
    width: 100%;
    height: 100%;
    max-height: 72px;
    object-fit: cover;
    clip-path: polygon(0px 51px, 0px 21px, 21px 0px, 51px 0px, 72px 21px, 72px 51px, 51px 72px, 21px 72px, 0px 51px);
}

.about_bio{
    display: grid;
    padding: 40px;
}
.about_label{
    display: inline-flex;
    gap: 8px;
    padding: 0 40px 20px;
}
.aboutText{
    display: flex;
    width: 100%;
}
.about_desc{
    letter-spacing: -0.05em;
    text-transform: none;
    font-family: 'Poppins';
    font-size: 28px;
    line-height: 1;
    margin-top: 28px;
    width: 80%;
}
.about_desc p{
    margin-bottom: 20px;
}

.about_label  .section_label, .skill .section_label{
    position: relative;
    height: 24px;
    width: 32px;
    letter-spacing: normal;
    font-family: condenseInt, monospace;
    font-size: 12px;
    line-height: 1.3;
}
.label_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about_label .section_label:first-of-type {
    width: 55px;
}
.skill .section_label{
    width: 55px;
}
.section_label_edu{
    width: 75px;
}
.skill{
    padding: 10px 30px;
    width: 20%;
}
.vital_info{
    margin-bottom: 24px;
}
.skills{
  list-style: none;
  margin-top: 18px;
  width: 100%;
  display: block;
}
.skills li{
    text-transform: uppercase;
    letter-spacing: 0.28px;
    font-family: condenseInt;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}
.aboutTop .textUp .textrow{
    transform: translateY(0%);
    opacity: 1;
     transition: all 1s ease-in-out;
 }
 
@media all and (max-width: 760px){
   .aboutTop{
    padding: 40px 20px;
   }
   .aboutTop h1{
    letter-spacing: -1.6px;
    font-size: 64px;
    padding-top: 10px;
   }
   .text-image{
    max-width: 48px;
   }
   .text-image img, .text-image video{
    max-height: 48px;
    clip-path: polygon(34px 48px, 48px 34px, 48px 14px, 34px 1px, 14px 1px, 1px 14px, 1px 34px, 14px 48px, 34px 48px);
   }
   .about_bio{
    padding: 40px 20px;
   }
   .aboutText{
    flex-direction: column;
   }
   .about_desc{
    width: 100%;
    font-size: 28px;
    margin-top: 20px;
   }
   .skill{
    width: 100%;
    padding: 30px 0;
   }
}
@media all and (max-width: 500px){
    .aboutTop h1{
        font-size: 54px;
        line-height: 1;
       }
    .about_desc{
        width: 100%;
        font-size: 24px;
       }
}
@media all and (max-width: 460px){
    .aboutTop h1{
        font-size: 50px;
       }
}
