.bannerContainer{
    padding: 40px 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.creative{
    font-size: 180px;
    line-height: 200px;
    height: 240px;
    letter-spacing: -0.005em;
    color: rgb(204, 207, 202);
    text-shadow: rgba(204, 207, 202, 0.75) 0px 0px 8px;
    font-weight: bold;
    position: relative;
    overflow-y: hidden;
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 40px 10px;
    width: 100%;
}

.creative h1 span, .developer h1 span{
    display: inline-block;
}
.creative h1 span span{
display: inline-block;
}
.mobileCreative{
    display: none;
}

 .developer{
    font-size: 180px;
    line-height: 200px;
    height: 240px;
    position: relative;
    overflow-y: hidden;
    color: rgb(204, 207, 202);
    text-shadow: rgba(204, 207, 202, 0.75) 0px 0px 8px;
    font-weight: bold;
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    display: block;
    padding: 30px 40px 10px;
    letter-spacing: -0.005em;
}
.animateMarquee .software{
animation-play-state: running;
}

.lower-bottom{
    display: flex;
}

.focus{
    display: inline-block;
    flex-wrap: wrap;
    padding-top: 30px;
}
.focus h1{
    position: relative;
    height: 26px;
    overflow-y: hidden;
}
.focus h1 p{
    font-size: 16px;
    font-family: york;
    color: rgb(119, 119, 119);
    text-shadow: 0 0 0 #000;
}
.focus p{
    font-size: 24px;
    position: relative;
    height: 34px;
    overflow-y: hidden;
    font-family: condense;
    color: rgb(204, 207, 202);
    text-shadow: rgba(204, 207, 202, 0.75) 0px 0px 8px;
}
.focus p span{
    display: inline-block;
}
.numbering{
    font-family: works;
    font-size: 20px;
}
@keyframes marquee {
    0% {
      transform: translate3d(0%, 0, 0);
    }
  
    100% {
      transform: translate3d(-175%, 0, 0);
    }
  }
  @keyframes marquee-lg {
    0% {
      transform: translate3d(calc(0), 0, 0);
    }
  
    100% {
      transform: translate3d(calc(-150% + 20vw), 0, 0);
    }
  }
.software h1{
    margin: 0 40px;
   white-space: nowrap;
}


.circle{
    color: rgb(204, 207, 202);
    text-shadow: rgba(204, 207, 202, 0.75) 0px 0px 8px;
    position: absolute;
    left: 85%;
    bottom: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 15;
   }
   .arrowicon{
     position: absolute;
     display: inline;
     color: #cccfca;
   }
   #circular{
     position: absolute;
     user-select: none;
     pointer-events: none;
     font-size: 12px;
     font-family: work;
     text-transform: uppercase;
    width: 100%;
    height: 100%;
    left: 50px;
    transform-origin: 0 50px;
    animation: animate 5s linear infinite;
    }
    
   hr{
    color: #212121;
    height: 2px;
   width: 100vw;
   }
  
    @keyframes animate{
     from{
       transform: rotate(0deg);
     }
     to{
       transform: rotate(360deg);
     }
    }
    
    #circular span{
      position: absolute;
      transform-origin: 0 50px;
      font-family: Neue;
    }
.introLoader{
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;
    color: #cccfca;
    padding: 0 40px;
}
.count{
    font-size: 56px;
    font-weight: bold;
    font-family: condense;
}

    @media all and (max-width: 1350px){
        .creative, .developer{
            font-weight: bold;
            font-size: 160px;
            line-height: 180px;
            height: 200px;
        }
    }
    @media all and (max-width: 1200px){
        .creative, .developer{
            font-weight: bold;
            font-size: 140px;
            line-height: 160px;
            height: 180px;
        }
    }
   
    @media all and (max-width: 1000px){
        .creative, .developer{
            font-weight: bold;
            font-size: 120px;
            line-height: 140px;
            height: 160px;
        }
    }

    @media all and (max-width: 900px){
        .creative, .developer{
            font-size: 120px;
            line-height: 140px;
            height: 160px;
            padding: 30px 20px 10px;
        }
        .lower-bottom{
            flex-direction: column;
           }
           .developer{
            margin-bottom: 30px;
           }
           .focus{
            padding: 0 20px;
           }
           .focus h1 p{
            font-size: 20px;
           
        }
        .focus p{
            font-size: 28px;
            font-family: condense;
        }
        .circle{
            left: 80%;
            bottom: 40px;
        }
    }
    @media all and (max-width: 780px){
        .creative, .developer{
            font-size: 100px;
            line-height: 120px;
            height: 140px;
        }   
    }
    @media all and (max-width: 670px){
        .creative, .developer{
            font-size: 90px;
            line-height: 120px;
            height: 130px;
        }
       
    }
    @media all and (max-width: 600px){
        .creative{
            display: none;
        }
       .mobileCreative{
        display: block;
        color: rgb(204, 207, 202);
    text-shadow: rgba(204, 207, 202, 0.75) 0px 0px 8px;
    padding: 0 20px;
    font-size: 140px;
    line-height: 180px;
    position: relative;
    height: 100%;
    overflow-y: hidden;
    letter-spacing: -0.07em;
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    word-break: break-word;
       }
     
.developer{
    display: none;
}
    
    .focus h1 p{
        font-size: 16px;
       
    }
    .focus p{
        font-size: 20px;
        font-family: condense;
    }
    .circle{
        width: 70px;
        height: 70px;
        left: 75%;
       }
       #circular{
        left: 35px;
        transform-origin: 0 35px;
        font-size: 9px;
        }
        
   
      
        
        
        #circular span{
          transform-origin: 0 35px;
        
        }
    }
    @media all and (max-width: 550px){
        .mobileCreative{
        font-size: 120px;
        line-height: 160px;
           }
    }
    @media all and (max-width: 490px){
        .mobileCreative{
        font-size: 110px;
        line-height: 150px;
     }
}
    @media all and (max-width: 440px){
        .mobileCreative{
        font-size: 100px;
        line-height: 140px;
     }
}
    
   
    @media all and (max-width: 400px){
        .mobileCreative{
        font-size: 90px;
        line-height: 120px;
    }
}
    @media all and (max-width: 360px){
        .mobileCreative{
        font-size: 80px;
        line-height: 110px;
       }
    }
    
    