.bannerContainer{
    padding: 40px 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.creative{
    color: #9fa5d5;
    text-shadow: 1px 1px 3px #e8f5c8;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 180px;
    line-height: 200px;
   
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}
.creative h1 span{
    display: inline-block;
}


 .developer{
    font-size: 180px;
    line-height: 200px;
    color: #9fa5d5;
    text-shadow: 1px 1px 3px #e8f5c8;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    display: block;
    align-items: center;
    padding: 0 40px;
}
.animateMarquee .software{
animation-play-state: running;
}

.focus{
    position: absolute;
    right: 15%;
    top: 60%;
}
.focus h1 p{
    font-size: 16px;
    font-family: york;
    color: rgb(170, 170, 170);
}
.focus p{
    font-size: 24px;
    font-family: condense;
    color: #9fa5d5;
}
.numbering{
    font-family: works;
    font-size: 20px;
}
@keyframes marquee {
    0% {
      transform: translate3d(0%, 0, 0);
    }
  
    100% {
      transform: translate3d(-175%, 0, 0);
    }
  }
  @keyframes marquee-lg {
    0% {
      transform: translate3d(calc(0), 0, 0);
    }
  
    100% {
      transform: translate3d(calc(-150% + 20vw), 0, 0);
    }
  }
.software h1{
    margin: 0 40px;
   white-space: nowrap;
}


.circle{
    color: #9fa5d5;
    text-shadow: 1px 1px 1px #e8f5c8;
    position: absolute;
    left: 85%;
    bottom: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 15;
   }
   .arrowicon{
     position: absolute;
     display: inline;
     color: #cccfca;
   }
   #circular{
     position: absolute;
     user-select: none;
     pointer-events: none;
     font-size: 12px;
     font-family: work;
     text-transform: uppercase;
    width: 100%;
    height: 100%;
    left: 50px;
    transform-origin: 0 50px;
    animation: animate 5s linear infinite;
    }
    
   hr{
    color: #212121;
    height: 2px;
   width: 100vw;
   }
  
    @keyframes animate{
     from{
       transform: rotate(0deg);
     }
     to{
       transform: rotate(360deg);
     }
    }
    
    #circular span{
      position: absolute;
      transform-origin: 0 50px;
      font-family: Neue;
    }
.introLoader{
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;
    color: #cccfca;
    padding: 0 40px;
}
.count{
    font-size: 56px;
    font-weight: bold;
    font-family: condense;
}

    @media all and (max-width: 1350px){
        .creative, .developer{
            font-weight: bold;
            margin-bottom: 30px;
            font-size: 160px;
            line-height: 180px;
            padding: 0 40px;
        }
    }
    @media all and (max-width: 1200px){
        .creative, .developer{
            font-weight: bold;
            margin-bottom: 30px;
            font-size: 140px;
            line-height: 160px;
            padding: 0 40px;
        }
    }
    @media all and (max-width: 1100px){
        .focus{
            position: absolute;
            right: 10%;
            top: 60%;
        }
    }
    @media all and (max-width: 1000px){
        .creative, .developer{
            font-weight: bold;
            margin-bottom: 30px;
            font-size: 120px;
            line-height: 140px;
            padding: 0 40px;
        }
    }
    @media all and (max-width: 900px){
        .creative, .developer{
            font-weight: bold;
            margin-bottom: 30px;
            font-size: 100px;
            line-height: 120px;
            padding: 0 20px;
        }
    }
    @media all and (max-width: 760px) {
        
        .creative, .developer{
            font-size: 60px;
            height: 80px;
            margin-bottom: 30px;
            padding: 0 20px;
        }
        .circle{
            position: fixed;
            width: 100px;
            height: 100px;
            top: 80%;
          }
          #circular{
           transform-origin: 0 50px;
           left: 50px;
           }
           #circular span{
            position: absolute;
            transform-origin: 0 50px;
            font-family: work;
          }
        .software{
            font-size: 60px;
            height: 80px;
            margin-bottom: 30px;
            padding: 0 20px;
        }
        .software h1{
            margin: 0 20px;
        }
        .me{
            width: 15%;
        }
        .shift  h1{
            left: 20%;
        }
        .downContent{
           min-height: 4rem;
           padding: 20px 0; 
           }
           .downcontent{
            display: flex;
            align-items: flex-start;
            height: 100%;
            width: 100%;
            flex-direction: column;
            padding: 0 20px;
            justify-content: left;
             }
           .downcontent p{
            font-size: 18px;
            color: #212121;
           padding: 10px 0;
           }
           .introLoader{
            padding: 0 20px;
           }
    }

    @media all and (max-width: 650px){
        .creative, .developer{
            font-size: 50px;
            height: 70px;
        }
        .software h1{
            margin: 0 20px;
        }
        .software{
            font-size: 50px;
            height: 70px;
        }
    }
    @media all and (max-width: 550px){
        .creative, .developer{
            font-size: 40px;
            height: 60px;
        }
        .software h1{
            margin: 0 20px;
        }
        .software{
            font-size: 40px;
            height: 60px;
        }
     
    }
    @media all and (max-width: 480px){
        .creative{
            font-size: 50px;
            min-height: 70px;
           word-break: break-all;
        }
      
        .developer{
            font-size: 50px;
            height: 70px;
            word-break: break-all;
        }
        .software h1{
            margin: 0 20px;
    
        }
        .software{
            font-size: 50px;
            height: 70px;
        }
        .me{
            width: 16%;
        }
        .shift  h1{
            left: 23%;
            position: absolute;
        }
      .circle{
        width: 100px;
        height: 100px;
        left: 70%;
      }
      #circular{
       transform-origin: 0 50px;
       left: 50px;
       }
       #circular span{
        position: absolute;
        transform-origin: 0 50px;
        font-family: work;
      }
    }
    @media all and (max-width: 395px) {
        .circle{
            width: 60px;
            height: 60px;
            left: 80%;
          }
          #circular{
           transform-origin: 0 30px;
           left: 30px;
           }
           #circular span{
            position: absolute;
            transform-origin: 0 30px;
            font-family: Neue;
            font-size: 8px;
          }
    }
    @media all and (max-width: 350px) {
        .creative, .developer{
            font-size: 25px;
            height: 45px;
        }
        .software h1{
            margin: 0 20px;
        }
        .software{
            font-size: 25px;
            height: 45px;
        }
    }
   