.contact3{
   width: 100vw;
  padding: 40px 0 ;
  position: relative;
  background-color: rgb(17,17,17);
 color: rgb(170, 170, 170);
}

.contactCollaborations{
  height: 100%;
  width: 100%;
  hyphens: auto;
  text-align: center;
  word-break: break-word;
  font-family: 'Inter';
  letter-spacing: -0.09em;
  font-feature-settings: "case";
  font-size: 16px;
  line-height: 0.9;
  padding: 40px;
  text-transform: capitalize;
}
.contactCollaborations h1 p a{
  text-transform: lowercase;
  color: rgb(170, 170, 170);
}
.contact3 .contactHr{
  height: 2px;
  outline: none;
  border: none;
  background-color: rgb(170, 170, 170);
  width: 0;
  transition: 1s all ease-in-out;
}
.contact3 .hrwidth{
  width: 100%;
  transition: 1s all ease-in-out;
}

.marquee1{
    font-family: work;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: -0.09em;
    padding: 10px 20px;
    animation: animate2 9s linear infinite;
    white-space: nowrap;
}
@keyframes animate2{
    100%{
        transform: translate(-180%, 0);
    }
}

.bottomcontactdetails{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.contactDetails h1, .socials h1, .location h1{
  font-size: 16px;
  font-family: 'Inter';
  color: rgb(119, 119, 119);
}
.socials{
  width: 40%;
}
.socialsaccount{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.contactDetails div a , .socialsaccount div a, .lagos span{
  color: rgb(170, 170, 170);
  text-decoration: none;
  font-size: 20px;
}
@media all and (max-width: 760px){
.marquee1{
font-size: 70px;
}
.bottomcontactdetails{
  gap: 20px;
}
}
@media all and (max-width: 700px){
  .contactCollaborations{
    text-align: left;
    font-size: 14px;
    padding: 40px 20px;
  }
.marquee1{
font-size: 70px;
}
.bottomcontactdetails{
  flex-direction: column;
  padding: 40px 20px;
  gap: 25px;
}
.socials{
  width: 100%;
}
.socialsaccount{
  flex-direction: column;
}
}
@media all and (max-width: 450px){
  .contactCollaborations{
    text-align: left;
    font-size: 12px;
    padding: 40px 20px;
  }
}
