.Homewrapper{
    width: 100vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.HomeContainer{
    width: 100%;
    transform: scale(0.8);
    display: flex;
}
.logocontainer{
    display: flex;
    align-items: center;
    padding: 40px 40px;
}
@media all and (max-width: 760px){
    .logocontainer{
        padding: 30px 20px;
    }
}



