.homemaincontainer{
    position: relative;
    min-height: 100vh;
}
.Homewrapper{
    width: 100vw; 
}

.logocontainer{
    display: flex;
    align-items: center;
    padding: 40px 40px;
}
@media all and (max-width: 760px){
    .logocontainer{
        padding: 30px 20px;
    }
}



