.Homewrapper{
    width: 100vw;
    background-color: #212121; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.HomeContainer{
    background-color: #f1f1f1;
    width: 100%;
    min-height: 100vh;
    transform: scale(0.8);
}


