@font-face {
  font-family: Neue;
  src: url('../Fonts/neue/NeueMontreal-Regular.otf');
}
@font-face {
  font-family: NeueLight;
  src: url('../Fonts/neue/NeueMontreal-Light.otf');
}
@font-face {
  font-family: NeueBold;
  src: url('../Fonts/neue/NeueMontreal-Bold.otf');
}
@font-face {
  font-family: GroteskBold;
  src: url('../Fonts/Founders_Grotesk/FoundersGrotesk-Bold.otf');
}
@font-face {
  font-family: Grotesk;
  src: url('../Fonts/Founders_Grotesk/FoundersGrotesk-Regular.otf');
}
@font-face {
  font-family: york;
  src: url(../Fonts/swiss/SwissTypeFaces/Suisse\ Condensed/SuisseIntlCond-Semibold.otf);
}
@font-face {
  font-family: condense;
  src: url(../Fonts/swiss/SwissTypeFaces/Suisse\ Condensed/SuisseIntlCond-Regular.otf);
}
@font-face {
  font-family: condenseInt;
  src: url(../Fonts/swiss/SwissTypeFaces/Suisse\ Int/SuisseIntl-Regular.otf);
}
@font-face {
  font-family: work;
  src: url(../Fonts/swiss/SwissTypeFaces/Suisse\ Works/SuisseWorks-Regular.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins',
    sans-serif;
    background: rgb(17, 17, 17);
}









