@font-face {
  font-family: Neue;
  src: url('../Fonts/neue/NeueMontreal-Regular.otf');
}
@font-face {
  font-family: NeueLight;
  src: url('../Fonts/neue/NeueMontreal-Light.otf');
}
@font-face {
  font-family: NeueBold;
  src: url('../Fonts/neue/NeueMontreal-Bold.otf');
}
@font-face {
  font-family: GroteskBold;
  src: url('../Fonts/Founders_Grotesk/FoundersGrotesk-Bold.otf');
}
@font-face {
  font-family: Grotesk;
  src: url('../Fonts/Founders_Grotesk/FoundersGrotesk-Regular.otf');
}
@font-face {
  font-family: york;
  src: url(../Fonts/swiss/SwissTypeFaces/Suisse\ Condensed/SuisseIntlCond-Semibold.otf);
}
@font-face {
  font-family: condense;
  src: url(../Fonts/swiss/SwissTypeFaces/Suisse\ Condensed/SuisseIntlCond-Regular.otf);
}

@font-face {
  font-family: condenseInt;
  src: url(../Fonts/swiss/SwissTypeFaces/Suisse\ Int/SuisseIntl-Regular.otf);
}
@font-face {
  font-family: condenseThin;
  src: url(../Fonts/swiss/SwissTypeFaces/Suisse\ Int/SuisseIntl-Thin.otf);
}
@font-face {
  font-family: work;
  src: url(../Fonts/swiss/SwissTypeFaces/Suisse\ Works/SuisseWorks-Regular.otf);
}
@font-face {
  font-family: sign;
  src: url(../Fonts/swiss/SwissTypeFaces/Suisse\ Neue/SuisseNeue-Regular.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins',
    sans-serif;
    background: #141414;
    color: #d9d5cd;
}


.transition-effect{
  height: 100vh;
  width: 50%;
  position: fixed;
  background-color: #713fd5;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
}
.transition-effect-1{
  height: 100vh;
  width: 50%;
  position: fixed;
  background-color: #713fd5;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
}
.topLoader{
  font-size: 36px;
  padding: 20px;
  font-family: condenseInt;
  letter-spacing: -0.05em;
}
.loader-container{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000000000000;
  background-color: #ffd955;
}
.counter-container{
  display: flex;
  overflow: hidden;
  position: absolute;
  right: 10%;
  bottom: 10%;
  height: 15vw;
}
.counter-list-1, .counter-list-2{
  list-style: none;
  font-size: 15vw;
  font-family: condenseInt;
  line-height: 15vw;
  font-weight: 300;
}
.loaderLine{
  width: 100%;
  position: relative;
}
.loaderLine span{
  position: absolute;
  background-color: #d9d5cd;
  height: 2px;
  transition: all 1s ease-in-out;
}







