.navv{
    display: block;
    height: 3rem;
}
.NavbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 40px 40px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    list-style-type: none;
    font-family: Neue;
    font-size: 16px;
    cursor: pointer;
}
.navbar li{
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    color: #212121;
    display: flex;
    justify-content: center;
}
.navbar li span, .contact span{
    height: 1px;
    background-color: #212121;
    width: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    transition: all .5s ease-in-out;
}
.navbar li:hover span, .contact:hover span{
    width: 100%;
    left: 0;
}
.contact{
    font-family: Neue;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}
.logoContainer{
    display: flex;
    align-items: center;
}
.logo{
  font-family: work;
  font-size: 18px; 
  cursor: pointer; 
  color: rgb(170, 170, 170);
}
.hamburger-menu{
    display: block;
    cursor: pointer;
    color: rgb(170, 170, 170);
}


    @media all and (max-width: 760px){
        .navbar, .contact{
            display: none;
        }
       .hamburger-menu{
        display: block;
       }
       .navv{
        display: block;
        height: 3rem;
    }
       .NavbarContainer{
        padding: 30px 20px;
        position: fixed;
        top: 0;
        z-index: 30;
    }
    }