.project{
    width: 100vw;
    min-height: 100vh;
    padding-top: 40px;
    padding-bottom: 120px;
    position: relative;
  }
  .projectHr{
    position: absolute;
    width: 0%;
    transition:  all .5s ease-in-out;
    height: 1px;
    background-color: rgb(204, 207, 202);
}

.project .showHr{
    width: 100%;
    transition:  all .5s ease-in-out;
}
  .projectTop{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 40px;
  }
  .projectTop h1{
    font-size: 80px;
    color: rgb(204, 207, 202);
    text-shadow: rgba(204, 207, 202, 0.75) 0px 0px 8px;
    font-family: condense;
  }
  .projectTopHr{
position: absolute;
right: 0;
width: 0%;
transition:  all .5s ease-in-out;
height: 1px;
background-color: rgba(204, 207, 202);
  }
  .projectHr{
    position: absolute;
width: 0%;
transition:  all .5s ease-in-out;
height: 1px;
background-color: rgba(204, 207, 202);
  }
  .showHr{
    width: 100%;
    transition:  all .5s ease-in-out;
  }
  .projectDetailsContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 20px 40px;
    cursor: pointer;
  }
  .projectDetailsContainer h1{
font-family: 'Bebas Neue';
font-size: 80px;
height: 90px;
position: relative;
display: block;
width: 60%;
overflow-y: hidden;
color: rgb(204, 207, 202);
    text-shadow: rgba(204, 207, 202, 0.75) 0px 0px 8px;
  }
  .projectDetailsContainer h1 span{
    position: absolute;
    top: 100%;
    transition: all .5s ease-in-out;
  }
  .projectDetailsContainer .projectUp span{
    position: absolute;
    top: 0;
    transition: all 1s ease-in-out;
  }
  


/* CSS */
.projectDetailButtons .button-17 {
  align-items: center;
  background-color:transparent;
  border-radius: 24px;
  border: 1px rgb(204, 207, 202) solid;
  cursor: pointer;
  font-family: condenseInt;
  font-size: 14px;
  height: 40px;
  padding: 2px 20px;
  position: relative;
  text-align: center;
  margin-right: 10px;
  color: rgb(204, 207, 202);
  text-shadow: rgba(204, 207, 202, 0.75) 0px 0px 8px;
  opacity: 0;
  transition: all .5s ease-in-out;
}
.button-17 a{
    text-decoration: none;
    font-family: condenseInt;
  font-size: 14px;
  color: rgb(204, 207, 202);
  text-shadow: rgba(204, 207, 202, 0.75) 0px 0px 8px;
  transition: all .5s ease-in-out;
}

.button-17:hover{
    box-shadow: 0px 2px 5px  #212121;
}
.projectLowerPart{
  padding: 20px 40px;
}
.projectLowerPart p{
 font-size: 16px;
 color: rgb(204, 207, 202);
 text-shadow: rgba(204, 207, 202, 0.75) 0px 0px 8px;
}
.projectDetailButtons .showBtn{
  opacity: 1;
}
@media all and (max-width: 850px){
  .projectTop h1{
    font-size: 60px;
  }
  .projectDetailsContainer h1{
    font-size: 70px;
    height: 80px;
    width: 60%;
      }
}
@media all and (max-width: 740px){
  .projectTop h1{
    font-size: 60px;
  }
  .projectDetailsContainer h1{
    font-size: 60px;
    height: 80px;
    width: 60%;
      }
}
@media all and (max-width: 650px){
  .projectTop h1{
    font-size: 40px;
  }
  .projectDetailsContainer{
    padding: 20px 20px;
    cursor: pointer;
  }
  .projectDetailsContainer h1{
    font-size: 70px;
    height: 90px;
    width: 100%;
      }
      .projectDetailsContainer{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        align-items: flex-start;
        cursor: pointer;
        flex-direction: column;
      }
      .projectDetailButtons{
        display: flex;
        width: 100%;
        padding: 10px 0;
        justify-content: flex-end;
      }
}
@media all and (max-width: 610px){
  .projectTop h1{
    font-size: 40px;
  }
}
@media all and (max-width: 580px){
  .projectDetailsContainer h1{
    font-size: 60px;
    height: 80px;
      }
}
@media all and (max-width: 450px){
  .projectDetailsContainer h1{
    font-size: 50px;
    height: 75px;
      }
      .projectDetailButtons .button-17 {
        font-size: 12px;
      }
      .button-17 a{
        font-size: 12px;
      }
}